<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Placeholder</title>
</head>

<body>
	<h3> {{ upper .Name }} is going to be {{ .Age|double }} someday. </h3>
	<p> {{ index .Name 1 }} </p>
</body>

</html>