<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Variable</title>
</head>

<body>
    <h3> People </h3>
    <ul>
        {{ range .People }}
        <li> {{ .Name }} is years {{ .Age }} old </li>
        {{ end }}
    </ul>
    <h3> Books </h3>
    <ul>
        {{ range .Books }}
        <li> {{ .Title }} </li>
        {{ end }}
    </ul>
</body>

</html>