<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="UTF-8">
	    <title>Variable</title>
	</head>	
	<body>
        <h3> People </h3>
		<ul>

            <li>  is  years old </li>

        </ul>
        <h3> Books </h3>
        <ul>

            <li>  </li>

        </ul>
	</body>
</html>
