<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Variable</title>
</head>

<body>
	{{ $name := . }}
	<h3> Hello, {{ $name }} </h3>
	<p> Hello, again {{ $name -}}{{ $name }} </p>
</body>

</html>